
h2
{
  font-size: 50px;
  text-align: center;
  height: 140px;
}

span, #XenO
{
    font-size: 65px;
    margin-top: 20px;
}

body
{
  background-color: white;
  width: 1000px;
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
}

div[id^="row-"] div
{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  float: left;
}

div[id^="row-"] div:first-child {border-left: none;}
div[id^="row-"] div:last-child {border-right: none;}
div[id="row-1"] div {border-top: none;}
div[id="row-3"] div {border-bottom: none;}

div.board
{
  width: 608px;
  overflow: hidden;
  margin: auto;
}
