/* de pagina header */
.container {
  width: 320px;
  height: 320px;
  margin: auto;
  margin-top: 100px;
}

h1 {
  text-align: center;
  font-size: 50px;
}
/* lijnen */
.row {
  height: 100px;
}
.col {
  height: 100px;
  width: 100px;
  float: left;
  font-size: 100px;
  text-align: center;
  list-style: 100px;
}

.borderB {
  border-bottom: 10px solid black;
}

.borderR {
  border-right: 10px solid black;
}
